<div class="card">
    <div class="flex justify-content-between flex-wrap card-container purple-container">
        <img src="../../../assets/img/logos/FitnessGym.jpeg" style="width:5rem" alt="">
        <div class="flex justify-content-end flex-wrap card-container green-container">
            <div class="flex align-items-center justify-content-center text-bold m-2">Conocé las sedes</div>
            <div class="flex align-items-center justify-content-center m-2">Beneficios</div>
            <div class="flex align-items-center justify-content-center m-2"><button routerLink="/login" pButton type="button" label="Asociate!" class="p-button-warning"></button></div>
        </div>
    </div>
</div>
